// @import 'styles/vars';

.container {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 150px;
  }

  p {
    font-size: 15px;
    // font-family: $font500;
    color: #989595;
  }
}
