.like {
  width: 16px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}
.likei {
  fill: rgba(255, 255, 255, 0.486);
  cursor: pointer;
}
.likei:hover {
  fill: rgba(255, 255, 255, 0.726);
}
.vote {
  color: #73a32f;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;

  box-sizing: border-box;
  padding-left: 8px;
  padding-right: 8px;
  min-width: 42px;
  text-align: center;
}
.voteBtns {
  display: flex;
  gap: 10px;
}