.sectin {
  background-color: #221845;
  position: absolute;
  left: -10px;
  right: -10px;
  top: 5px;
  z-index: -10;
  border-radius: 10px;
  min-height: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 70px;
  opacity: 0;
  animation: ani 0.9s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.line {
  width: 100%;
  height: 1px;
  background-color: #c1bcbc;
  position: absolute;
  left: 0;
}

.continer {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
}

