.reviews{
    display: flex;
    justify-content: space-between;
}
.comments_btn{
    @media (max-width: 599px) {
      display: none;
    }
}
.comments_btn_mobile{
    display: none;
    @media (max-width: 599px) {
      display: block;
    }
}