{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 180,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^pages/(.*)$", "^components/(.*)$", "^store/(.*)$", "^public/(.*)$", "^styles/(.*)$", "^img/(.*)$", "^assets/(.*)$", "^../(.*)", "^./(.*)"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
