.button {
  transition-duration: 0.3s;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: none;
  height: 32px;
  border-radius: 8px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  // width: 100%;
}
.button:active {
  opacity: 1;
  background-color: #00000070;
}
.gradient {
  padding: 9px 15px;
  background-image: linear-gradient(270deg, #ea003d 0, #c447ff 100%);
}
.red {
  background-color: #ea006d;
  border-color: #ea003d;
  padding: 9px 15px;
}
.red:hover {
  background-color: #f3285e;
  border-color: #ea003d;
}
.red:active {
  background-color: #c71645;
  border-color: #ea003d;
}
.redOpacity {
  background-color: #ea003e81;
  border-color: #ea003e71;
  padding: 0 50px;
}
.redOpacity:hover {
  background-color: #f3285e;
  border-color: #ea003d;
}
.redOpacity:active {
  background-color: #c71645;
  border-color: #ea003d;
}
.gray {
  background-color: #1f1b2e;
  border-color: #1f1b2e;
  padding: 0 30px;
}

.lightGray {
  background-color: #312b45;
  border-color: #312b45;
  padding: 0 30px;
  &:hover {
    background-color: #352f4b;
  }
  &:active {
    background-color: #352f4b;
  }
}
.gray:hover {
  background-color: #352e4e;
  border-color: #1f1b2e;
}
.gray:active {
  background-color: #0c0a11;
  border-color: #1f1b2e;
}

.mainGray {
  background-color: #1f1b2e;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  &:hover {
    background-color: #231f34;
  }
}

.mainBlueGradient {
  background-color: #1f1b2e;
  background-image: url("https://solea-parent.dfs.ivi.ru/picture/bypass/teaserTilePattern_a.svg");
  display: flex;
  flex-direction: row;
  column-gap: 10px;

  &:hover {
    background-color: #231f34;
  }
}

.darkRed {
  background-color: #ea003d;
  border-color: #ea003d;

  &:hover {
    background-color: #ff0f4d;
    border-color: #ff0f4d;
  }
}
.icon {
  padding: 0 10px;
  border-color: rgb(51, 50, 50);
}
.circle {
  border-radius: 100px;
  padding: 0 10px;
}
.smart {
  background-color: rgb(63, 62, 62);
  border-color: rgb(51, 50, 50);
  gap: 5px;
  padding: 18px 10px;
  p {
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h3 {
    font-size: 15px;
    line-height: 20px;
    height: 20px;
  }
}
.img {
  background-color: rgb(71, 71, 71);
  width: 56px;
  height: 56px;
  position: relative;
  display: flex;
  align-self: center;
  justify-content: center;
  overflow: hidden;
  div:last-child{
    background-color:#73a32f;
    font-size: 16px;
    padding: 13px;
    font-weight: 600;
  }
  div:first-child {
    position: absolute;
    overflow: hidden;
    border-radius: 8px;
    width: 44px;
    height: 44px;
  }
  img {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -o-object-fit: cover;
    object-fit: cover;
    width: 44px;
    height: 44px;
  }
}
.img:hover {
  background-color: rgb(99, 99, 99);
}
.button__text {
  color: white;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
}
.border {
  height: 32px;
  text-align: center;
  border-radius: 8px;
  padding: 7px 11px;
  text-decoration: none;
  border: solid 1px rgba(255, 255, 255, 0.32);
  cursor: pointer;
  background-color: transparent;
}
.border:hover {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 0.952);
}
.reviews {
  display: flex;
  .children {
    font-size: 20px;
    line-height: 24px;
    font-weight: 900;
    font-style: normal;
    color: #fff;
    position: relative;
    opacity: 1;
    cursor: pointer;
    transition-property: color, box-shadow, opacity;
    text-decoration: none;
  }
  .children:hover {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.356), inset 0 0 0 rgb(255 255 255 / 16%);
    color: #fff;
    transition-duration: 0.4s;
  }
}
.quantity {
  margin-left: 4px;
  list-style: none;
  color: #a5a1b2;
  font-size: 13px;
  line-height: 16px;
  font-style: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
  font-weight: 400;
}
.disable {
  opacity: 0.5;
}
.comment {
  color: #a5a1b2;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
}
.comment:hover {
  color: white;
}
.iconGoBack {
  gap: 10px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.836);
  svg {
    transition-duration: 0.3s;
  }
}
.iconGoBack:hover {
  color: white;
  svg {
    transition-duration: 0.3s;
    margin-right: -5px;
    height: 30px;
    width: 30px;
  }
}
