.messages {
  background-color: #2a2741;
  padding: 18px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  width: 80%;

  h6 {
    font-size: 15px;
    font-weight: 600;
  }

  p {
    font-size: 12px;
    color: #9a9494;
    padding-top: 9px;

    &:first-letter {
      text-transform: capitalize;
    }
  }
}

.message2 {
  align-self: flex-end;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  width: 40%;
}
