.cards {
  display: flex;
  justify-content: space-between;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.item {
  background-color: #3d2c77;
  height: 100px;
  padding: 8px;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 25px;
  }

  span {
    font-size: 17px;
  }
}

.card_l {
  border-right: 1px solid #333;
  padding-right: 15px;
}

.card_r {
  max-width: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}

.settings {
  display: flex;
  flex-direction: column;
  a {
    color: #b3b3b3;
    &:hover {
      color: #d7d7d7;
    }
  }
}
