.button {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  border: none;
  height: 32px;
  border-width: 1px;
  border-radius: 8px;
  padding: 7px 11px;
  cursor: pointer;
}
.button:active {
  opacity: 1;
  background-color: #00000070;
}
.gradient {
  background-image: linear-gradient(270deg, #ea003d 0, #c447ff 100%);
}
.red {
  background-color: #ea006d;
  border-color: #ea003d;
}
.red:hover {
  background-color: #f3285e;
  border-color: #ea003d;
}
.red:active {
  background-color: #c71645;
  border-color: #ea003d;
}
.redOpacity {
  background-color: #ea003e81;
  border-color: #ea003e71;
  padding: 0 50px;
}
.redOpacity:hover {
  background-color: #f3285e;
  border-color: #ea003d;
}
.redOpacity:active {
  background-color: #c71645;
  border-color: #ea003d;
}
.gray {
  background-color: #1f1b2e;
  border-color: #1f1b2e;
  padding: 0 30px;
}
.gray:hover {
  background-color: #352e4e;
  border-color: #1f1b2e;
}
.gray:active {
  background-color: #0c0a11;
  border-color: #1f1b2e;
}
.icon {
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.08);
}
.included {
  // background: #ffc85e;
}
.disabled {
  // background: #aaaaaa;
}

.button__text {
  white-space: nowrap;
  color: white;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
}
