.filmPageWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  min-height: 100vh;
}

.genreParams {
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.actorsParams {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
}

.actorTitle {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.fullscreen__popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  z-index: 101;
}

.popup {
  z-index: 102;

  &__smallText {
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    color: #d9d7e0;
    max-width: 80px;
  }

  &__boldText {
    font-size: 20px;
    line-height: 24px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 30px;
  }

  &__filmLengthContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
  }

  &__button {
    width: 100%;
  }

  &__card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 128px;
    width: 100%;
  }

  &__filmCard {
    display: flex;
    flex-direction: column;
    margin-left: 12%;
    row-gap: 5px;
  }

  &__crewWrapper {
    max-width: 600px;
    width: 100%;
    row-gap: 30px;
    display: flex;
    flex-direction: column;
  }

  &__crewContainer {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }
  &__header {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }
}

.hidden {
  display: none;
}

.rate {
  position: absolute;
  font-size: 15px;
}

.summaryRate {
  position: absolute;
  font-size: 22px;
}

.actor {
  height: 44px;
  width: 44px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.filmCard {
  height: 235px;
  width: 153px;
  transition-duration: 0.4s;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.04) translateY(-2%);
  }
}

.scroll__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.popup__wrapper {
  display: flex;
  justify-content: center;
  z-index: 101;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(7, 5, 14, 0.96);
  padding: 100px 0;
  overflow-y: scroll;
}

.popupFilmTitle {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
}

.filmActorCard {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.16);
}

.ratePlate {
  width: 44px;
  height: 44px;
  background-color: #73a32f;
  border-radius: 8px;
}

.filmActorCard__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 7px;
  max-width: 70px;
  width: 100%;
  text-align: center;
}
.filmActorCard__wrapper:hover {
  color: white;
}
.genreLanguage {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
}

.filmDescription__icon {
  align-self: center;
}

.breadCrumbs {
  display: flex;
  column-gap: 5px;
}

.summaryRate {
  width: 56px;
  height: 56px;
  background-color: #73a32f;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.summaryReviews__wrapper {
  display: flex;
  flex-direction: column;
}

.summary {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.ratingFont {
  font-size: 13px;
  line-height: 16px;
  margin-top: 4px;
  color: rgba(255, 255, 255, 0.72);
}

.playerWindow {
  width: 100%;
}

.actorSection__wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.showActorsBtn {
  margin-top: 20px;
  background-color: #1a1627;
  height: 88px;
  width: 88px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.48);
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: #231f34;
    color: white;
  }
}

.actor__info {
  display: flex;
  flex-direction: column;
}

.filmPage__titleText {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
}

.actorSection {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.actorImage__Wrapper {
  border-radius: 50px;
  height: 88px;
  width: 88px;
  object-fit: cover;
}

.crewImage__wrapper {
  border-radius: 100px;
  height: 128px;
  width: 128px;
  object-fit: cover;
}

.underline {
  cursor: pointer;
  transition: 0.4s;
  box-shadow: 0 1px 0 rgb(255 255 255 / 16%), inset 0 0 0 rgb(255 255 255 / 16%);

  &:hover {
    box-shadow: 0 1px 0 #fff, inset 0 0 0 #fff;
  }
}

.galleryWrapper {
  padding: 20px 0;
}

.mainContent {
  padding: 12px 0 24px 0;
}

.watchAllDevicesImageWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0 20px;
}

.watchAllDevices__content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
}

.posterPic {
  position: absolute;
  left: 120px;
  top: 3px;
  width: 337px;
  height: 192px;
  border-radius: 2px;
}

.devicePic {
  z-index: 1;
}

.posterMobilePic {
  position: absolute;
  right: 48px;
  bottom: 7px;
  width: 188px;
  height: 102px;
  border-radius: 4px;
  z-index: 1;
}

.ipadPic {
  position: absolute;
  right: 42px;
  bottom: 0;
  z-index: 1;
  width: 200px;
  height: 136px;
}

.watchAllDevicesSection {
  padding: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__btn {
    width: 215px;
    height: 40px;
    padding: 9px 15px;
    transition-duration: 80ms;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-style: normal;
  }
}

.player {
  width: 100%;
  row-gap: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 32px;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  padding-right: 32px;
}

.playerOptions {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 10px;
  background-color: rgb(63, 62, 62);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.72);

  &:hover {
    background-color: rgba(255, 255, 255, 0.16);
  }
}

.playImg {
  height: 30px;
  width: 30px;
}

.rateBtn {
  border: 1px solid rgba(255, 255, 255, 0.32);
  border-radius: 6px;
  padding: 3px 7px;
  font-size: 13px;
  margin-right: 10px;
  transition: 0.4s;
  &:hover {
    border-color: white;
  }
}

.summaryWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.16);
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
}

.slide {
  width: 100px;
}

.moviesContainer {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  padding: 20px 0;
  transition: 0.4s;
}

.filmQuality {
  display: flex;
  align-items: center;
  height: 20px;
  padding: 2px 6px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.16);

  &__text {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    font-style: normal;
    height: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0;
    letter-spacing: 0;
  }
}

.qualityMarks {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.filmDescriptionWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.swiper_slide{
  width: auto;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  min-height: 100vh;
}

.dot {
  color: rgba(255, 255, 255, 0.72);
  margin-top: -3px;
}

.filmTitle {
  padding: 0 35px;

  &__content {
    font-size: 36px;
    line-height: 40px;
    text-align: center;
  }
}

.filmSectionContainer {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-direction: row;
  width: 100%;
}

.filmSection__content {
  max-width: 465px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.filmDescription {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.filmDescription__warning {
  color: rgba(255, 255, 255, 0.48);
}

.filmDescription__details {
  color: rgba(255, 255, 255, 0.48);
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    color: #ffffff;
  }
}

.fullDescriptionWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.fullDescriptionData {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  border-top: 1px solid #3a3a3a;
  border-bottom: 1px solid #3a3a3a;
}

.fullDescription__content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.popupBtn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 30px;
}

.filmDescription__font {
  color: rgba(255, 255, 255, 0.72);
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  &__interact {
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}
