@import 'styles/vars';

.item {
  display: flex;
  flex-direction: column;
}

.text {
  font-weight: $font600;
  font-size: 15px;
}

.link {
  color: #ffffff7a;
  font-size: 15px;
  margin-top: 8px;
  transition: color .3s;

  &:hover {
    color: #fff;
  }

  &:first-child {
    background-image: linear-gradient(-45deg,#c447ff,#ea003d);
    -webkit-text-fill-color: transparent;
  }
}