.breadcrumb {
  list-style: none;
  overflow: hidden;
  float: left;
  color: rgb(255, 255, 255);
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  transition: all 0.3s;
  text-decoration: none;
  position: relative;
  display: block;
  float: left;
}

.breadcrumb li:first-child {
  // pointer-events: visible !important;
  cursor: pointer !important;
  transition-duration: 80ms;
  border-bottom: solid;
}
.breadcrumb li:nth-child(2) a {
  // background: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(2) a:after {
  // border-left-color: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(3) a {
  // background: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(3) a:after {
  // border-left-color: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(4) a {
  // background: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(4) a:after {
  // border-left-color: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(5) a {
  // background: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(5) a:after {
  // border-left-color: rgb(224, 233, 233);
}
.breadcrumb li:last-child a {
  pointer-events: none;
  cursor: default;
  color: #7e798f;
  
}
.slash::before{
   content: '/';
  margin: 0 7px;
  float: left; 
}

.breadcrumb li a {
 
}

.breadcrumb li a:hover {
  box-shadow: 0 0 0 #7e798f, inset 0 -1.5em 0 #7e798f;
  transition-duration: 80ms;
}
.breadcrumb li a:hover:after {
  // border-left-color: rgb(194, 226, 221) !important;
}
