.breadcrumb {
  list-style: none;
  overflow: hidden;
  float: left;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
}
.breadcrumb li {
  float: left;
}
.breadcrumb li a {
  transition: all 0.3s;
  text-decoration: none;
  position: relative;
  display: block;
  float: left;
}

.breadcrumb li:first-child {
  // pointer-events: visible !important;
  cursor: pointer !important;
  transition-duration: 80ms;
}
.breadcrumb li:nth-child(2) a {
  // background: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(2) a:after {
  // border-left-color: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(3) a {
  // background: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(3) a:after {
  // border-left-color: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(4) a {
  // background: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(4) a:after {
  // border-left-color: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(5) a {
  // background: rgb(224, 233, 233);
}
.breadcrumb li:nth-child(5) a:after {
  // border-left-color: rgb(224, 233, 233);
}
.breadcrumb li:last-child a {
}

// .slash{
//   color: aqua;
// }
.slash::before {

  content: '/';
  margin: 0 7px;
  float: left;
}
.slashBreadcrumb {
  color: rgb(255, 255, 255);
}
.slashBreadcrumb li:first-child {
  cursor: pointer !important;
  transition-duration: 80ms;
  border-bottom: solid;
}
.slashBreadcrumb li:last-child a {
  pointer-events: none;
  cursor: default;
  color: #7e798f;
}
.slashBreadcrumb li a:hover {
  box-shadow: 0 0 0 #7e798f, inset 0 -1.5em 0 #7e798f;
  transition-duration: 80ms;
}
// .point{
//   color: aqua;
// }
.point::before {
  display: inline-block;
  content: '';
  width: 2px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.56);
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 3px;
}
.pointBreadcrumb li a:hover {
  color: #fefdff;
  transition-duration: 80ms;
}
.pointBreadcrumb {
  color: rgba(255, 255, 255, 0.562);
}

// .breadcrumb li a:hover {
//   color: #fefdff;
//   transition-duration: 80ms;
// }
