.continder {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #100e19e9;
  z-index: 10000;
  overflow-y: scroll;
  scrollbar-width: none;
}

.header {
  position: fixed;
  background-color: #1a1829;
  border-bottom: 2px solid #2f2845;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    cursor: pointer;
    font-size: 40px;
    color: #c8c4c4;
    position: absolute;
    right: 10px;
  }
}

.chat {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 600px;
  margin: 10px auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.btn {
  display: flex;
  width: 50%;
  gap: 5px;
  align-self: flex-end;
}
