.review {
  background-color: #1a1627;
  overflow: hidden;
  transition: background-color 400ms;
  padding: 20px;
  border-radius: 8px;
  // min-width: 411px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.review:hover {
  background-color: #1f1b2e;
  transition: background-color 400ms;
}

.notReview{
  background-color: #1a1627;
  overflow: hidden;
  transition: background-color 400ms;
  padding: 20px;
  border-radius: 8px;
  max-width: 252px;
  cursor: pointer;
}
.notReview:hover {
  background-color: #1f1b2e;
  transition: background-color 400ms;
}
.notText{
  text-align: center;
  padding: 50px 0;
}

.name {
  color: #a5a1b2;
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  font-style: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 16px;
}
.title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 8px;
  -webkit-line-clamp: 2;
}
.description {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  height: 66px;
  -webkit-line-clamp: 3;
  white-space: normal;
}
.date {
  left: 20px;
  bottom: 20px;
  color: #a5a1b2;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
}

.footer {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

