.filtersContainer {
  display: flex;
  flex-direction: column;
  background-color: #1f1b2e;
  padding: 12px;
  border-radius: 6px;
  margin: 25px 12px 0 0;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__filter {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    background-color: #312b45;
    border-radius: 5px;
  }
}

.filterDropdown__column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.filtersWrapper {
  max-width: 216px;
  width: 100%;
}

.removeFilterBox {
  cursor: pointer;
  padding-top: 10px;
  display: flex;
  align-items: center;
  color: #7e798f;

  &__btn {
    height: 25px;
    width: 25px;
  }
}

.filterDropdown__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #312b45;
  border-radius: 5px;
  margin-top: 3px;
  position: absolute;
  z-index: 11;
}

.filterDropdown__slider {
  border-radius: 5px;
  margin-top: 3px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  height: auto;
  width: 300px;
  background-color: #312b45;
}


.filterDropdown__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  row-gap: 10px;

}

.filterDropdown__itemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
}


.filterDropdown__itemContainer:hover .filterDropdown__check {
  color: #a5a1b2;
  visibility: visible;
}

.filterDropdown__check {
  visibility: hidden;
}

.filterDropdown__active {
  color: #FFFFFF;
}

.white {
  color: white;
}
