.filtersContainer {
  display: flex;
  flex-direction: column;
  background-color: #1f1b2e;
  padding: 12px;
  border-radius: 6px;
  margin: 25px 12px 0 0;

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__filter {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #312b45;
    border-radius: 5px;
    width: 100%;
  }

  &__box {
    cursor: pointer;
    display: flex;
    padding: 10px;
    flex-direction: column;
    background-color: #312b45;
    border-radius: 5px;
    row-gap: 5px;
    height: 56px;
    justify-content: center;
  }
}

.filterDropdown__column {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.filtersWrapper {
  max-width: 216px;
  width: 100%;
  height: 58px;
}

.text {
  color: red;
}

.crewSearch {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  column-gap: 25px;

  &__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
}

.genresList {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.56);
  font-size: 13px;
}

.filterItemsFont {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
}

.removeFilterBox {
  cursor: pointer;
  padding-top: 10px;
  display: flex;
  align-items: center;
  color: #7e798f;

  &__btn {
    height: 25px;
    width: 25px;
  }
}

.filterDropdown__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #312b45;
  border-radius: 5px;
  margin-top: 3px;
  position: absolute;
  z-index: 11;
}

.filterDropdown__slider {
  border-radius: 5px;
  margin-top: 3px;
  padding: 20px;
  position: absolute;
  z-index: 1;
  height: auto;
  width: 300px;
  background-color: #312b45;
}

.filterDropdown__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  row-gap: 10px;
}

.filterDropdown__itemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
  cursor: pointer;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
}

.active {
  color: #FFFFFF;
}

.filterDropdown__itemContainer:hover .filterDropdown__check {
  color: #a5a1b2;
  visibility: visible;
}

.filterDropdown__check {
  visibility: hidden;
}

.filterDropdown__active {
  color: #ffffff;
}

.white {
  color: white;
}
