@import 'styles/vars';

.list {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
  border-top: 1px solid #cccccc50;
}

.text {
  font-weight: $font600;
  font-size: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  span {
    margin-top: 8px;
    display: inline-block;
    color: #ffffff7a;
  }
}

.btn {
  margin-top: 8px;
  margin-bottom: 8px;
}
