.border {
  border-radius: 3px;
}

.carouselItems {
  column-gap: 5px;
  transition: transform .2s, -webkit-transform .2s, -o-transform .2s;
  display: flex;
  flex-direction: row;
}

.standardCarouselItems {
  column-gap: 25px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  transition: transform .4s
}

.swiper {
  display: flex;
  flex-direction: row;
}

.slide {
  width: 300px;
}

.filmsSection {
  flex-direction: column;
  font-family: 'Finlandica-Regular', sans-serif;
  display: flex;
  background-color: #100e19;
  padding: 56px 0 32px 0;

  &__description {
    margin-top: 24px;
  }

  .descriptionFont {
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;

  }

  .descriptionWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    font-size: 15px;
    line-height: 22px;
    font-style: normal;
    width: 75%;
  }

  &__title {
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    font-style: normal;
  }

  .headingContainer {
    display: flex;
    flex-direction: row;
    column-gap: 3px;
  }

  &__heading {
    box-shadow: 0 2px 0 #7e798f, inset 0 0 0 #7e798f;
    transition-duration: 80ms;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 0 #7e798f, inset 0 -1.5em 0 #7e798f;
      transition-duration: 80ms;
    }
  }
}

.sectionHeader {
  font-size: 24px;
  padding: 20px 0;
}

.carouselItem {
  border-radius: 10px;
  background-color: #312b45;
  padding: 8px;
  display: flex;
  align-items: center;
}

.filmCardsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 30px;
}

.postersContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.filterBtn {
  width: 100%;
  padding: 6px 16px;
  border-radius: 16px;
  background-color: #312b45;
  cursor: pointer;
  display: flex;
  align-items: center;
  vertical-align: baseline;

  &__font {
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    font-style: normal;
    height: 20px;
    width: 100%;
    white-space: nowrap;
  }
}

.headingFont {
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
  font-style: normal;
}

.hiddenText {
  display: block;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}


.clauseToggle {
  display: inline-block;
  margin-top: 8px;
  cursor: pointer;
  font-weight: 500;
  color: rgba(255, 255, 255, .88);
  transition: transform 400ms, color 400ms, -webkit-transform 400ms, -o-transform 400ms;

  &:hover {
    color: #fff;
    transition: color 80ms;
  }
}



.moviesContainer {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  padding: 20px 0;
  transition: 0.4s;
}

.greyText {
  color: rgba(255, 255, 255, .56);
}

.none {
  display: none;
}

@media (max-width: 1500px) {
  .filmCardsWrapper {
    justify-content: center;
  }

  .filmsSection__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
}

@media (max-width: 600px) {
  .filmsSection__title {
    text-align: center;
    font-size: 30px;
  }
}


