.carousel {
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  padding-top: 15px;
}

.carouselWrapper {
  overflow: hidden;
  width: 100%;
}

.hidden {
  visibility: hidden;
}

.rightArrow {
  cursor: pointer;
  height: 32px;
  width: 20px;
  position: absolute;
  right: -25px;

  &:hover {
    color: #FFFFFF;
  }
}



.leftArrow {
  position: absolute;
  cursor: pointer;
  height: 32px;
  width: 20px;
  left: -25px;

  &:hover {
    color: #FFFFFF;
  }
}




