.conteiner {
  display: flex;
  width: 50%;
  margin-left: 12.5%;
  @media (max-width: 1160px) {
    width: 66.6%;
    margin-left: 0;
  }
  @media (max-width: 880px) {
    width: 100%;
    margin-left: 0;
    justify-content: space-between;
  }
}
.coments {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.comentBtn{
    align-self: flex-start;
}

.form {
  &__buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    > div {
      width: 100%;
    }
  }
  &__input {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    input {
      padding: 18px 12px 2px 12px;
      background-color: #d9d7e0;
      color: #1f1b2e;
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-width: 0;
      cursor: pointer;
      transition-property: background-color, color;
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      font-style: normal;
      outline: 0;
    }
    input:focus {
      cursor: text;
    }
    &_lable {
      color: #000;
      font-size: 16px;
      line-height: 16px;
      padding: 5px 10px;
      pointer-events: none;
      position: absolute;
      transition: all 200ms;
      top: 12px;
      left: 0px;
    }
  }
}
.form__input_input:focus + .form__input_lable,
.form__input_input:not(:placeholder-shown) + lable {
  top: -4px;
  font-size: 12px;
  cursor: text;
}
.commentList{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.movie {
  padding-left: 12px;
  padding-right: 12px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66666667%;
  margin-left: 16.66666667%;
  @media (max-width: 1160px) {
    width: 12.5%;
    margin-left: 12.5%;
  }
  @media (max-width: 880px) {
    display: none;
  }
}
.error{
    display: block;
    color: red;
    background-color: red;
}