@import '../../styles/vars';

.list {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
  border-top: 1px solid #cccccc50;

  &:last-child {
    flex-direction: column;
  }
}

.text {
  font-weight: 700;
  font-size: 15px;
}

.item {
  display: flex;
  flex-direction: column;
  span {
    margin-top: 8px;
    display: inline-block;
    color: #ffffff7a;
  }
}

.btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.pos_btn {
  display: flex;
  gap: 7px;
  margin-top: 8px;
}

.megaphone_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 230px;

  small {
    text-align: center;
    color: #a29797;
    font-size: 16px;
  }
}

.megaphone {
  width: 104px;
  height: 104px;
  margin-bottom: 18px;
  padding: 10px;

  box-shadow: 0 0 104px #a869f0;
  background: linear-gradient(180deg, #a869f0 0%, #834cc2 100%);
  border-radius: 20px;

  img {
    width: 100%;
  }
}

.t_wrapper {
  display: flex;
  justify-content: space-between;
}

.btn_wrapper {
  display: flex;

  &__item:not(:first-child) {
    margin-left: 10px;
  }
}


.b_wrapper {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  color: #ffffff7a;
}