.personPage {
  width: 50%;
  margin-left: 25%;
  color: white;
  margin-bottom: 30px;
  @media (max-width: 879px) {
    width: 100%;
    margin-left: 0;
  }
  &__btn {
    color: #d3d3d3;
    width: 100px;
    display: flex;
    align-items: center;
    margin-top: 8px;
    height: 52px;
    cursor: pointer;
  }
}
.person {
  padding-top: 20px;
  display: flex;
  &__header {
    display: block;
  }
  &__img {
    border: solid;
    border-radius: 10px;
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    img {
      width: 100%;
      height: 100%;
      height: auto;
    }
  }
  &__name {
    white-space: nowrap;
    font-size: 40px;
    line-height: 44px;
    font-weight: 700;
    font-style: normal;
    word-wrap: break-word;
  }
  &__enName {
    margin-top: 16px;
    color: #a5a1b2;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-style: normal;
  }
}
.movies {
  margin-top: 32px;
  &__header {
    h3 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      font-style: normal;
      margin-bottom: 4px;
    }
    p {
      color: #a5a1b2;
      font-size: 15px;
      line-height: 20px;
      font-weight: 400;
    }
  }
}
.border {
  display: block;
  unicode-bidi: isolate;
  -webkit-margin-before: 0.5em;
  -webkit-margin-after: 0.5em;
  -webkit-margin-start: auto;
  -webkit-margin-end: auto;
  overflow: hidden;
  border: inset 1px #ffffff50;
  // border-width: 1px ;
}
.movie {
  margin-top: 28px;
  &__link {
    align-items: center;
    display: flex;
  }
  &__img {
    width: 80px;
    img {
      width: 100%;
    }
  }
  &__body {
    justify-content: space-between;
    display: flex;
    margin-left: 16px;
    flex: 0 1 100%;
    @media (max-width: 599px) {
      flex-direction: column;
    }
  }
  &__header {
    span {
      font-size: 15px;
      line-height: 22px;
      font-weight: 500;
      font-style: normal;
    }
    h3 {
      font-size: 15px;
      line-height: 22px;
      font-weight: 500;
      font-style: normal;
      margin-top: 4px;
    }
    p {
      font-size: 13px;
      line-height: 16px;
      font-weight: 500;
      font-style: normal;
      color: #a5a1b2;
    }
  }
  &__btn {
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
  min-height: 100vh;
}
