@import url(//db.onlinewebfonts.com/c/29e676384bcea6f376417bcfee5c8595?family=ivi+Sans);

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  font-family: 'ivi Sans', sans-serif;
  margin: 0;
  background: #100e19;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.popupActive {
  overflow: hidden;
  min-height: 100%;
}

.MuiTextField-root {
  color: #FFFFFF;
}

.css-e8xg60-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(255, 255, 255, 0.56);
}

.css-3sjdb0-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid rgba(93, 93, 93, 0.56);
}

.css-3sjdb0-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled, .Mui-error):before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.56);
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  color: #FFFFFF;
}

.css-1tqs3sn-MuiFormLabel-root-MuiInputLabel-root {
  color: rgba(255, 255, 255, 0.56);
}

.slick-slide>div {padding: 0 5px;}

@media (max-width: 900px) {
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
    width: 49%;
  }
}

